.login-section {
}

.login-container {
    background: #f9f9f9;
    width: fit-content;
    display: block;
    margin: 4rem auto;
    padding: 1rem;
    border: 1px solid var(--green);
}

.login-item {
    margin: 1rem;
}

.login-input {
    font-size: 2rem;
    font-weight: 600;
    padding: 0.2rem;
}

.login-btn {
    width: 100%;
    text-align: center;
    padding: 0.8rem;
    background: var(--green);
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}
